.swiper-button-next::after {
  opacity: 0;
  color: white;
  font-size: 20px !important;
}

.swiper-button-prev::after {
  opacity: 0;
  color: white;
  font-size: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.card-image:hover .swiper-button-next::after,
.card-image:hover .swiper-button-prev::after {
  opacity: 1;
}
