@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.footer-container {
  font-family: "Montserrat", sans-serif;
  > .footer-title {
    font-weight: 600;
    letter-spacing: -0.5px;
  }
}
